@import "tailwindcss";
@plugin "tailwindcss-animate";

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Fuentes */
  --font-body: "Montserrat", sans-serif;
  --font-display: "Playfair Display", serif;

  /* Colores personalizados */
  --color-ocean: #1a4b6e;
  --color-ocean-light: #eef4f8;
  --color-gold: #c5a059;
  --color-gold-dark: #b38f4d;
  --color-sand: #fcf8f1;
}


@layer base {
  body {
    @apply font-body text-[#333] bg-white antialiased;
  }

  h1, h2, h3, h4 {
    @apply font-body text-ocean font-bold;
  }

  html {
    @apply scroll-smooth;
  }
}